@{
    ViewData["Title"] = "Coolio, foolio";
}
<h1>you here</h1>
<div class="data">
    <h2>First name: @ViewBag.fname</h2>
    <h2>Last name: @ViewBag.lname</h2>
    <h2>Age: @ViewBag.age</h2>
    <h2>Email: @ViewBag.email</h2>
    <h2>Password: @ViewBag.password</h2>
</div>

<a href="/" class="btn btn-primary">Back</a>
